@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* #28345f *
/* #988aff */


/* #e4e9fa */

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: #e4e9fa;
    display: center;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

form {
    width: max-content;
    height: max-content;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #28345f;
    border-radius: 10px;
    color: #fff;
    display: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 50px;
}

form h3,
form p {
    padding: 10px;
    margin: 10px;
}

form a {
    width: 100%;
    background: #988aff;
    text-decoration-line: none;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    margin-top: 12px 0;
    border-radius: 10px;
}